<cabecera></cabecera>

<section>

  <article class="container-fluid bg-ligth py-5 text-center">

    <h2>¿CUÁNDO IR A TERAPIA?</h2>

  </article>

  <article class="texto-terapia container py-5 border-top">

    <div class="row d-flex justify-content-between">
        <div class="col-12">
          <p>Si te sientes identificado con alguna de estas frases puede que sea el momento de acudir a un especialista. Pero antes recuerda que:</p>
        </div>
    </div>
    <div class="row">
      <div class="col-8 mx-auto text-center">
        <p><i>A terapia no va aquel que tiene un problema, pues problemas tenemos todos. A terapia acude quien quiere resolverlos.</i></p>
      </div>
    </div>
    <div class="row d-flex justify-content-between mt-3 mb-5">
      <div class="col-lg-7 col-xl-6">
        <ul>
          <li>Siento que las preocupaciones del día a día pueden conmigo</li>
          <li>Tiendo a estar muy nervioso/a y creo que no puedo controlarlo</li>
          <li>Me cuesta dormir la mayoría de las noches</li>
          <li>No sé qué me pasa pero no estoy bien</li>
          <li>Tengo problemas con mi familia, hijo/s, pareja..</li>
          <li>Últimamente estoy decaído/a, triste, cansado/a y no se por que</li>
          <li>Me siento incomprendido/a</li>
          <li>Tengo dificultad para enfrentarme a determinadas situaciones sociales</li>
          <li>Siento que he perdido el control de mi vida</li>
          <li>¿Por qué si se que no estoy haciendo lo adecuado me cuesta cambiar?</li>
          <li>¿Por qué tropiezo siempre con la misma piedra?</li>
        </ul>
      </div>
      <div class="col-lg-5 mt-5">
        <img class="imgCuando img-fluid rounded" src="../../assets/cuando.jpg" alt="cuando">
      </div>
    </div>
  </article>
</section>

<piepag></piepag>
