<footer class="container-fluid bg-dark text-light">

  <div class="container p-5">
    <div class="container-fluid">
      <div class="row d-flex justify-content-around text-center">
        <div class="col-md-4">
          <ul class="servicio p-2">
            <h5>Servicio</h5>
            <li><a (click)="irContacto()">Contacto</a></li>
            <li><a>Privacidad</a></li>
            <li><a>Términos y condiciones</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="servicio p-2">
            <h5>¿Qué quieres hacer?</h5>
            <li><a (click)="irEvaluate()">Evalúate</a></li>
            <li><a (click)="irBuscar()">Buscar psicólogo por localización</a></li>
            <li><a (click)="irFiltrar()">Buscar psicólogo por datos profesionales</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <img id="logo" src="../../assets/logo.png" alt="">
          <ul class="servicio contacto p-2">
            <li>Psicfy SL</li>
            <li>Plaza de España 11</li>
            <li>28008, Madrid</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="fraseCopy row text-center mt-5">
      <div class="col-12">
          <p>www.psicfy.es &copy; 2019</p>
      </div>
    </div>

  </div>

</footer>
