
  <div class="preguntas">
    <p>{{ pregunta.titulo }}</p>
    <div class="form-check form-check-inline mb-5">
      <input class="form-check-input" type="radio" name="{{preguntaId}}" value="1" (click)="radioSelect($event)">
      <label class="form-check-label">Nunca</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="{{preguntaId}}" value="2" (click)="radioSelect($event)">
      <label class="form-check-label">Casi nunca</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="{{preguntaId}}" value="3" (click)="radioSelect($event)">
      <label class="form-check-label">Con frecuencia</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="{{preguntaId}}" value="4" (click)="radioSelect($event)">
      <label class="form-check-label">Casi siempre</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="{{preguntaId}}" value="5" (click)="radioSelect($event)">
      <label class="form-check-label">Siempre</label>
    </div>
  </div>

