img {
  width: 100px;
}

#poblaciones{
  margin-left: 7rem;
}
@media (max-width: 767px){
  .nombre{
    text-align: center;
  }
}

input.ng-valid.ng-dirty {
  border: 1px solid green;
}

input.ng-invalid.ng-dirty {
  border: 1px solid tomato;
}

.error {
  color: tomato;
}
