<cabecera></cabecera>

<form *ngIf="perfilForm" class="registro container mt-5" novalidate [formGroup]="perfilForm" (ngSubmit)="manejarPerfil()">

    <div class="row mt-5 py-5">

        <div class="col-10 m-auto">
          <div class="nombre form-row mb-4 d-flex justify-content-between">
            <div class="form-group col-md-2">
              <img src="../../assets/user.png" alt="">
            </div>
            <div class="form-group col-md-3">
              <h5>Nombre:</h5>
              <h3>{{ psicologoLogeado.nombre }}</h3>
            </div>
            <div class="form-group col-md-4">
              <h5>Apellidos:</h5>
              <h3>{{ psicologoLogeado.apellidos }}</h3>
            </div>
            <div class="form-group col-md-2">
              <h5>Nº colegiado:</h5>
              <h3>{{ psicologoLogeado.numColeg }}</h3>
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="form-group col-md-8">
              <h5>Domicilio profesional:</h5>
              <input type="text" class="form-control" formControlName="domicilio">
            </div>
            <div class="form-group col-md-4">
              <h5>Código postal:</h5>
              <input type="text" class="form-control" formControlName="codPostal">
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="form-group col-md-6">
              <label>Latitud:</label>
              <input type="text" class="form-control" formControlName="latitud" placeholder="oculto">
            </div>
            <div class="form-group col-md-6">
              <label>Longitud:</label>
              <input type="text" class="form-control" formControlName="longitud" placeholder="oculto">
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="form-group col-md-9">
              <h5>Especialidades:</h5>
              <div *ngFor="let esp of arrEspPsicologo">
                <p class="float-left mr-1">{{ esp.nombre }}, </p>
              </div>
            </div>
            <div class="form-group col-md-3">
              <button *ngIf="!especialidades" class="btn btn-outline-dark btn-block" (click)="cambiarEsp()">Cambiar especialidades</button>
              <button *ngIf="especialidades" class="btn btn-danger btn-block" (click)="cambiarEsp()">No Cambiar especialidades</button>
            </div>
          </div>

          <div *ngIf="especialidades" class="form-row mb-3">
            <div class="form-group">
              <label>Seleccione una o varias especialidades:</label>
              <div id="especialidades" class="row ml-4">
                <div class="checkbox col-md-4" formArrayName="especialidades" *ngFor="let esp of arrEspecialidades; let i = index">
                  <label class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" [formControlName]="i"> {{esp}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="form-group col-md-9">
              <h5>Población en la que está especializado:</h5>
              <p>{{ psicologoLogeado.poblacion }}</p>
            </div>
            <div class="form-group col-md-3">
              <button *ngIf="!poblacion" class="btn btn-outline-dark btn-block" (click)="cambiarPob()">Cambiar población</button>
              <button *ngIf="poblacion" class="btn btn-danger btn-block" (click)="cambiarPob()">No cambiar población</button>
            </div>
          </div>

          <div *ngIf="poblacion" class="form-row mb-3">
            <div class="form-group">
              <label>Seleccione tipo de poblacion:</label>
              <div id="poblaciones" class="row">
                <div class="checkbox" formArrayName="poblacion" *ngFor="let pob of arrPoblaciones; let i = index">
                  <label class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="checkbox" [formControlName]="i"> {{pob}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="form-group col-md-6">
              <h5>Correo:</h5>
              <input type="email" class="form-control" formControlName="correo">
              <p *ngIf="perfilForm.controls['correo'].errors?.pattern && perfilForm.controls['correo'].dirty">El campo debe ser un email correcto</p>
            </div>
            <div class="form-group col-md-6">
              <label>Repetir correo:</label>
              <input type="email" class="form-control" formControlName="correo_repeat">
              <p *ngIf="perfilForm.errors && perfilForm.errors['correo_repeat'] && perfilForm.controls['correo_repeat'].dirty" style="color: red">El correo no coincide</p>
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="form-group">
              <label>Cambiar imagen de perfil:</label>
              <input type="file" class="form-control-file" formControlName="imgUrl">
            </div>
          </div>

          <div class="form-row mb-4 d-flex justify-content-around">
            <div class="col-md-4">
              <button type="submit" class="btn btn-lg btn-block btn-success mb-3">Actualizar</button>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-lg btn-block btn-secondary mb-3" [routerLink]="['']">Cancelar</button>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-lg btn-block btn-danger mb-3" (click)="deletePsicologo()">Eliminar cuenta</button>
            </div>
          </div>
        </div>
    </div>
</form>
