<cabecera></cabecera>

  <div class="container my-5">
    <div class="mensaje" *ngIf="mensaje">
      <div class="row text-center">
        <div class="col-12 mb-5">
            <p>A continuación aparecerán una serie de preguntas que pretenden evaluar el estado general de la persona. Contesta con sinceridad para poder obtener una aproximación más realista.</p>
            <p>En caso de querer evaluar a un menor u otra persona que no eres tú, indica su edad en el hueco destinado para ello.</p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <button class="btn btn-info" (click)="iniciarPreguntas()">¡Adelante!</button>
        </div>
      </div>
    </div>

    <form class="mb-3">
      <div class="paso2 row text-center" *ngIf="preguntas">
        <div class="col-12">
          <div class="iconoVolver mb-4" (click)="volverMensajeInicio()">
              <fa class="flecha" name="arrow-left"></fa>
          </div>
          <div class="col-12 mb-5">
            <label class=" mr-1 col-11">Introduzca la edad de la persona:</label>
            <input class="col-1" type="text" name="edad" [(ngModel)]="edad">
          </div>
          <pregunta *ngFor="let preg of arrPreguntas" [pregunta]="preg" [preguntaId]="preg.id" (respuesta)="respRecibida($event)"></pregunta>
        </div>
        <button type="submit" class="col-8 mx-auto btn btn-info btn-block" (click)="enviarRespuestas()">Enviar</button>
      </div>
    </form>


    <div class="mensaje" *ngIf="resultado">
      <div class="row text-center">
        <div class="col-12 mb-5">
            <p>RESULTADO</p>
        </div>
        <div class="col-12 mb-5">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet facere reprehenderit ducimus quisquam sequi eaque corrupti? Officia quidem minus tempore. Modi excepturi vel aliquid commodi nihil illum eos quam voluptas.</p>
      </div>
      </div>
      <div class="row text-center">
        <div class="col-12 mb-5">
          <button class="btn btn-info" (click)="terminarEval()">Buscar psicólogo</button>
        </div>
      </div>
    </div>

  </div>

