#bot {
  width: 400px;
  position: fixed;
  bottom: -100px;
  right: 10px;
  cursor: pointer;
}
#bot #vistaChat {
  height: 300px;
  max-height: 300px;
  overflow: scroll;
}
#bot img {
  width: 40px;
  height: 40px;
}
li {
  list-style: none;
}
#mensajeBot{
  background-color: #ddd;
}
#write input {
  border: none;
}

@media(max-width: 768px)
{
  #bot {
    width: 270px;
    position: fixed;
    bottom: -100px;
    right: 10px;
    cursor: pointer;
  }
}
