<cabecera></cabecera>

<main>
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Dile sí a la <span>pSIc</span>ología en <span>Mad</span>rid</h1>
        <p class="lead">Un espacio de calidad para ti</p>
        <hr class="my-5">
        <div class="row justify-content-center">
          <div class="col-md-4 col-sm-7 mb-4">
            <p>¿Quieres saber si necesitas ayuda?</p>
            <button class="btn btn-outline-dark btn-lg" (click)="irEvaluate()" role="button">¡Auto-Evalúate!</button>
          </div>
          <div class="col-md-4 col-sm-7">
            <p>¿Buscas a un profesional de la Psicología?</p>
            <button class="btn btn-outline-dark btn-lg" (click)="irCerca()" role="button">Buscar Psicólogo</button>
          </div>
        </div>
      </div>
  </div>

  <div class="fotos container">
    <div class="main row">
      <div class="contenedor-images">
        <article (click)=irQue()>
          <img src="../../assets/puzzle2.jpg" alt="">
          <div class="velo">
            <h3>¿Qué es la terapia?</h3>
          </div>
        </article>
        <article (click)=irCuando()>
          <img src="../../assets/cuando.jpg" alt="">
          <div class="velo">
            <h3>¿Cuándo ir a terapia?</h3>
          </div>
        </article>
      </div>
    </div>
    <div class="mensaje row">
      <div class="col-8 mx-auto text-center">
        <h3><i>Estamos aquí para ayudarte.</i></h3>
        <h3><i>Somos personas que cuidan de personas.</i></h3>
      </div>
    </div>
  </div>
</main>

<piepag></piepag>
