.jumbotron {
  background-image: url(../../assets/hero.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
  padding-top: 12%;
  color: #212529;
	text-align: center;
	margin: 0px;
}
