.jumbotron {
  background-image: url(../../assets/hero.png);
	background-position: center;
	background-size: cover;
	height: 100vh;
  padding-top: 10%;
  color: #212529;
	text-align: center;
  margin: 0px;
}
span {
  color: #17a2b8;
}
.img-fluid {
	width: 100%;
	height: auto;
}
.texto-terapia{
  font-size: 1.1rem;
}
.imgCuando{
  margin-top: 30px;
}
