.jumbotron {
  background-image: url(../../assets/heroo.png);
	background-position: center;
	background-size: cover;
	height: 100vh;
  padding-top: 10%;
  color: #212529;
	text-align: center;
  margin: 0px;
}
span {
  color: #17a2b8;
}
