#carouselMain {
  background-image: url(../../assets/hero.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	padding-top: 23%;
	color: white;
	text-align: center;
	margin: 0px;
}
