<cabecera></cabecera>

<div class="container my-5">
  <div class="paso1">
    <div class="row text-center">
      <div class="col-12 mb-5">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet facere reprehenderit ducimus quisquam sequi eaque corrupti? Officia quidem minus tempore. Modi excepturi vel aliquid commodi nihil illum eos quam voluptas.</p>
      </div>
      <div class="col-12 mb-5">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet facere reprehenderit ducimus quisquam sequi eaque corrupti? Officia quidem minus tempore. Modi excepturi vel aliquid commodi nihil illum eos quam voluptas.</p>
    </div>
    </div>
    <div class="row text-center">
      <div class="col-12 mb-5">
        <button class="btn btn-info" (click)="terminarEval()">Buscar psicólogo</button>
      </div>
    </div>
  </div>
</div>
