<cabecera></cabecera>

<div class="container my-5">
  <form class="row mb-5 p-3 border-bottom d-flex justify-content-around">
    <div class="form-group col-md-6">
      <label>Selecciona una especialidad:</label>
      <select class="form-control">
        <option selected>Todos</option>
        <option>Neuropsicología</option>
        <option>Psicología familiar y de pareja</option>
        <option>Psicología del deporte</option>
        <option>Psicología educativa</option>
        <option>Neuropsicología</option>
      </select>
    </div>
    <div class="col-md-3">
      <button class="btn btn-info btn-block mt-4" type="submit">Buscar</button>
    </div>
  </form>


  <div class="row">
    <div class="col-md-4 mb-3 d-inline-block" *ngFor="let psicologo of arrPsico">
      <div class="card mx-auto p-2" style="width: 17rem;">
        <img [src]=psicologo.imgUrl class="card-img-top mx-auto" style="width: 13rem;">
        <div class="card-body">
          <h5 class="card-title">{{ psicologo.nombre }}</h5>
          <h5 class="card-title">{{ psicologo.apellidos }}</h5>
          <p class="card-text">{{ psicologo.numColeg }}</p>
          <p class="card-text">{{ psicologo.especialidad }}</p>
          <p class="card-text">{{ psicologo.correo }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<piepag></piepag>
