<cabecera></cabecera>

<div class="container my-5">
  <div class="container my-5">
    <form class="row mb-5 p-3 border-bottom d-flex justify-content-between">
      <div class="form-group col-md-3">
        <label>Población:</label>
        <select class="form-control" (change)="seleccionarPob($event)">
          <option selected>Todas</option>
          <option>Infanto-Juvenil (0-16 años)</option>
          <option>Adultos (>16 años)</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label>Selecciona una especialidad:</label>
        <select class="form-control" (change)="seleccionarEsp($event)">
          <option selected>Todas</option>
          <option>Ansiedad</option>
          <option>Depresión</option>
          <option>Trastornos del sueño</option>
          <option>Trastornos alimenticios</option>
          <option>Pareja y sexualidad</option>
          <option>Familia</option>
          <option>Consumo de tóxicos</option>
          <option>Adicciones</option>
          <option>Duelo</option>
          <option>Trastorno por estrés postraumático</option>
          <option>Violencia de género</option>
          <option>Discapacidad</option>
          <option>Trastorno mental grave</option>
          <option>Coaching</option>
        </select>
      </div>
      <div class="col-md-3">
        <button class="btn btn-info btn-block mt-4" type="submit">Buscar</button>
      </div>
    </form>



    <div class="row">
      <div class="col-md-8 mb-4 mx-auto" *ngFor="let psicologo of arrPsico">
        <div class="card p-3">
            <div class="row">
              <div class="col-5 text-center">
                <img [src]=psicologo.imgUrl class="imgUsuario card-img-top mx-auto border rounded-circle mb-3">
                <h4 class="card-title">{{ psicologo.nombre }} {{ psicologo.apellidos }}</h4>
                <h5 class="card-text">{{ psicologo.numColeg }}</h5>
              </div>
              <div class="col-7 card-body">
                <p class="card-text"><span>Especialista en:</span> {{ psicologo.especialidad }}</p>
                <p class="card-text"><span>Población:</span> {{ psicologo.poblacion }}</p>
                <p class="card-text"><span>Direccion:</span> {{ psicologo.direccion }}</p>
                <p class="card-text"><span>Correo:</span> {{ psicologo.correo }}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<piepag></piepag>
