<main class="container mt-5">
  <h2 class="text-center">Añadir nueva especialidad</h2>
  <form class="mt-5">
    <div class="col-lg-6 mx-auto">
      <div class="form-group">
        <label for="especialidad">Especialidad:</label>
        <input type="text" class="form-control" id="especialidad" placeholder="Nombre especialidad">
      </div>
      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 form-group mt-4">
          <button type="submit" class="btn btn-success btn-block">Guardar</button>
        </div>
        <div class="col-lg-5 form-group mt-4">
          <button type="submit" class="btn btn-danger btn-block" (click)="logOutAdmin()">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </form>
</main>
