  <div class="card p-3" >
    <div class="row">
      <div class="col-10 mx-auto text-center mb-2">
          <img [src]="psico.imgUrl" class="imgUsuario border mx-auto rounded-circle">
      </div>
    </div>
    <div class="row">
      <div class="col-10 mx-auto text-center">
          <h5 class="mx-auto titulo card-title">{{ psico.nombre | capitalize }} {{ psico.apellidos | capitalize }}</h5>
          <h5 class="mx-auto card-title">{{ psico.numColeg }}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 card-body mx-auto">
        <p class="card-text"><span>Especialista en: </span></p>
        <ul>
          <li *ngFor="let esp of psico.especialidades">{{ esp.nombre | capitalize }}</li>
        </ul>
      </div>
      <div class="col-lg-6 card-body mx-auto">
        <p class="card-text"><span>Grupo poblacional:</span> {{ psico.poblacion }}</p>
        <p class="card-text"><span>Direccion:</span> {{ psico.domicilio }}</p>
        <p class="card-text"><span>Correo:</span> {{ psico.correo }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
          <p class="card-text"><i id="icono" class="far fa-clock mr-1"></i> {{ duracion }}</p>
      </div>
      <div class="col-md-4 col-sm-12">
          <p class="card-text"><i id="icono" class="fa fa-route mr-1"></i> {{ distancia }}</p>
      </div>
    </div>
</div>

