<div class="error container my-5">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <img src="../../assets/error.png">
              <h1>Error 404</h1>
              <h2>Página no encontrada</h2>
              <div class="error-details">
                  Lo sentimos, pero la página que busca no existe o no se puede encontrar
              </div>
              <div class="error-actions">
                  <a (click)="irInicio()" class="btn btn-info text-white btn-lg"><span class="glyphicon glyphicon-home"></span>Ir a Inicio</a>
              </div>
          </div>
      </div>
  </div>
</div>
