<cabecera></cabecera>

<form class="registro container mt-5" novalidate [formGroup]="registroForm" (ngSubmit)="manejarRegistro()">

    <div class="row mt-5 py-5">

        <div class="col-10 m-auto">

          <div class="form-row mb-4">
            <div class="form-group col-md-5">
              <label>Nombre:</label>
              <input type="text" class="form-control" formControlName="nombre">
            </div>

            <div class="form-group col-md-7">
              <label>Apellidos:</label>
              <input type="text" class="form-control" formControlName="apellidos">
            </div>

          </div>

          <div class="form-row mb-4">

            <div class="form-group col-md-8">
              <label>Domicilio profesional:</label>
              <input type="text" class="form-control" formControlName="domicilio">
            </div>

            <div class="form-group col-md-4">
              <label>Código postal:</label>
              <input type="text" class="form-control" formControlName="codPostal">
            </div>

          </div>

          <div class="form-row mb-4">

            <div class="col-md-7 mb-3">
              <label>Selecciona una especialidad:</label>
              <select class="form-control" formControlName="especialidad">
                <option selected>...</option>
                <option>Neuropsicología</option>
                <option>Psicología familiar y de pareja</option>
                <option>Psicología del deporte</option>
                <option>Psicología educativa</option>
                <option>Neuropsicología</option>
              </select>
            </div>

            <div class="form-group col-md-5">
              <label>Número colegiado:</label>
              <input type="text" class="form-control" formControlName="numColeg">
            </div>

          </div>

          <div class="form-row mb-4">

            <div class="form-group col-md-6">
              <label>Correo:</label>
              <input type="email" class="form-control" formControlName="correo">
              <p *ngIf="registroForm.controls['correo'].errors?.pattern && registroForm.controls['correo'].dirty">El campo debe ser un email correcto</p>
            </div>

            <div class="form-group col-md-6">
              <label>Contraseña:</label>
              <input type="password" class="form-control" formControlName="password">
              <p *ngIf="registroForm.controls['password'].errors?.pattern && registroForm.controls['password'].dirty">La contraseña debe tener al menos un numero, una letra y entre 6-15 caracteres</p>
            </div>

          </div>

          <div class="form-row mb-4">

            <div class="form-group col-md-6">
              <label>Repetir correo:</label>
              <input type="email" class="form-control">
            </div>

            <div class="form-group col-md-6">
              <label>Repetir contraseña:</label>
              <input type="password" class="form-control">
            </div>

          </div>

          <button type="submit" class="btn btn-lg btn-block btn-info mb-3" [disabled]="registroForm.invalid">Registrarme Gratis</button>
          <div class="dropdown-divider"></div>
          <a id="cuenta" class="btn dropdown-item text-center" (click)="irInicio()">¿Ya tienes cuenta? Iniciar sesión</a>

        </div>

    </div>
</form>

