.btn {
  border-radius: 0px;
}
.registro {
  height: 100%;
}
input.ng-valid.ng-dirty {
  border: 1px solid green;
}

input.ng-invalid.ng-dirty {
  border: 1px solid tomato;
}

.error {
  color: tomato;
}

#poblaciones{
  margin-left: 7rem;
}

@media (max-width: 767px){
  #poblaciones{
    margin-left: 2.4rem;
  }
}
