.registro {
  height: 100%;
}
input.ng-valid.ng-dirty {
  border: 1px solid green;
}

input.ng-invalid.ng-dirty {
  border: 1px solid tomato;
}

.error {
  color: tomato;
}

#poblaciones{
  margin-left: 7rem;
}
